* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family:sans-serif
}

.contenedor {
    background: white;
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
}

.header {
    background-image:url(imagen2.jpg);
    background-size: cover;
    height: 600px;
    width: 0 auto;
    box-sizing: border-box;
}


.header h1 {
    background: white;
    position: absolute;
    text-align: center;
    padding: 10px;
    top: 30%;
    left: 20%;
    right: 20%;
    font-size: 50px;
    box-sizing: border-box;
}

.header p {
    background: black;
    color: white;
    padding: 10px;
    position: absolute;
    margin: 0 auto;
    top: 45%;
    left: 20%;
    right: 20%;
    text-align: center;
    font-size: 20px;
    box-sizing: border-box;
}

nav {
    position: relative;
    text-align: center;
    top: 65%;
    
}

nav a {
    text-decoration: none;
    color: black;
    background: white;
    border: 4px solid black;
    font-size: 30px;
    padding: 10px;
    box-sizing: border-box;
}

.main {
    margin-top: 10px;
    box-sizing: border-box;
}

/*ARTICULO 1*/
.articulo1 {
    background: white;
    width: 100%;
    border: 4px solid black;
    box-sizing: border-box;
}

.articulo1 h2 {
    background: black;
    color: white;
    padding: 10px;
    box-sizing: border-box;
}

.articulo1 img {
    width: 30%;
    height: 200px;
    padding: 20px;
    float: left;
    box-sizing: border-box;
}

.articulo1 p {
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.main2 {
    margin-top: 10px;
    box-sizing: border-box;
}

/*ARTICULO 2*/

.articulo2 {
    background: white;
    width: 100%;
    border: 4px solid black;
    box-sizing: border-box;
}

.articulo2 h2 {
    background: black;
    color: white;
    padding: 10px;
    box-sizing: border-box;
}

.articulo2 img {
    width: 30%;
    height: 200px;
    padding: 20px;
    float: left;
    box-sizing: border-box;
}

.articulo2 p {
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}


/*ARTICULO 3*/

.articulo3 {
    background: white;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    box-sizing: border-box;
}

.articulo3 img {
    width: 30%;
    height: 250px;
    padding: 20px;
    box-sizing: border-box;
}

footer {
    background: black;
    color: white;
    padding: 20px;
    margin-top: 10px;
    box-sizing: border-box;
}

nav a:hover {
    color: white;
    background: black;
}

@media screen and (max-width: 800px){
    
    .header h1{
        width: 90%;
        font-size: 35px;
        left: 5%;
        top: 25%;
    }
    
    .header p {
        width: 80%;
        top: 40%;
        left: 35px;
        margin-bottom: 10px;
        font-size: 20px;
    }
    
    nav {
        height: 70px;
        top: 3%;
        width: 100%;
        margin-bottom: 0px;
        box-sizing: border-box;
    }
    
    nav a {
        font-size: 20px;
    }
    
    .articulo1 img{
        width: 100%;
        object-fit: cover;
        box-sizing: border-box;
    }
    
    .articulo2 img {
        width: 100%;
        object-fit: cover;
        box-sizing: border-box;
    }
    
    .articulo3 img {
        width: 100%;
        object-fit: cover;
        display: block;
    }
    
    footer {
        margin-bottom: 10px;
    }   
}

@media screen and (max-width: 400px) {
    
    .header h1 {
        
    }
    
    .header p {
        top: 45%;
    }
    
    nav a {
        font-size: 10px;
    }
    
}